/*******************************************************************************
CUSTOM STYLES

Add your custom CSS styles here to override or extend the default styles.
*******************************************************************************/
:root{
  --mono-bold:#A882FF;
  --pink-500:#ec4899;
  --strong-color:var(--mono-bold);
  --color-primary:var(--pink-500);
  --link-color:var(--color-primary);
  --em-color:#93c5fd;
}

body {
	font-family: "Palatino", "简宋", Times;
	color: #333;
	line-height: 1.4;
	text-align: justify;
}

b,
strong{
    color:var(--strong-color);
}

.md-url,
.md-def-url{
    color:var(--link-color);
}
a,
a code{
    color:var(--link-color);
}

em {
  color: var(--em-color); /* 或者你想要的任何颜色，例如: color: #1e90ff; */
}

i {
  color: var(--em-color);
}

/* 将下划线标签改为红色，并去掉下划线 */
u {
  color: #ef4444; /* 红色 */
  text-decoration: none; 
  font-style: normal;
}

/* 单独为中文字体设置 */
:lang(zh),
:lang(zh-CN),
:lang(zh-TW),
:lang(zh-Hans),
:lang(zh-Hant){
  font-family: "简宋";
}